.quote {
  width: 90vw;
  height: 80vh;
  color: white;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #858694;
  border: 2px solid rgb(63, 62, 62);
  border-radius: 10px;
}

.quote p {
  justify-self: center;
  padding: 20px;
  font-size: 1.5rem;
}

.quote h1 {
  text-transform: capitalize;
}

.calculator {
  width: 90vw;
  height: 80vh;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  border: 2px solid rgb(63, 62, 62);
  border-radius: 10px;
}

.row,
.display {
  width: 100%;
  height: calc(100vh / 6);
  font-size: 2rem;
  display: flex;
}

.btn {
  height: 100%;
  width: calc(100vw / 4);
  font-size: 1.4rem;
}

.operator {
  background-color: #f5913e;
}

.zero {
  width: calc(100vw / 2);
  padding: 0 3%;
}

.display {
  width: 96%;
  padding: 2%;
  color: white;
  justify-content: right;
  align-items: center;
  background-color: #858694;
  border-radius: 10px 10px 3px 3px;
}

@media screen and (min-width: 768px) {
  .app {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .calculator {
    width: 30vw;
    height: 60vh;
    margin: 10vh auto;
  }

  .quote {
    width: 30vw;
    height: 60vh;
    margin: 10vh auto;
  }
}
