.calculator {
  width: 90vw;
  height: 80vh;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  border: 2px solid rgb(63, 62, 62);
}

.row,
.display {
  width: 100%;
  height: calc(100vh / 6);
  font-size: 2rem;
  display: flex;
}

.btn {
  height: 100%;
  width: calc(100vw / 4);
  font-size: 1.4rem;
}

.operator {
  background-color: #f5913e;
}

.zero {
  width: calc(100vw / 2);
  padding: 0 3%;
}

.display {
  width: 96%;
  padding: 2%;
  color: white;
  justify-content: right;
  align-items: center;
  background-color: #858694;
}

@media screen and (min-width: 768px) {
  .calculator {
    width: 30vw;
    height: 60vh;
    margin: 10vh auto;
  }
}
